<div id="welcomeContainer" style="display: none;">
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader"><%- lang('welcome.welcomeHeader') %></span>
        <div id="welcomeLoreContainer">
            <div id="welcomeLoreText">
                <p class="loreParagraph loreItalic">Evimeria no es una promesa de algún reino.<br>Ni tierras dueñas de dioses o reyes...</p>
                <p class="loreParagraph">Son aquellas personas que iniciaron un camino juntos.<br>Llevaron sueños hacia la tierra y este les respondió con amor.<br>Prospera como el futuro del joven e inocente como la doncella.<br>Pasión y solidaridad fue lo que la hizo resaltar.</p>
                <p class="loreParagraph">Hoy, el pueblo sigue en pie… aunque algo ha comenzado a cambiar.<br>No de golpe, no con violencia, sino de forma silenciosa.<br>La tierra responde distinto.<br>Los oficios evolucionan.<br>Las historias antiguas ya no encajan del todo con lo que se vive ahora.</p>
                <p class="loreParagraph">Aquí no todo está escrito.<br>Ni tampoco todo está dicho.<br>¿Serán las nuevas pisadas lo que escribirá el futuro de esta historia?</p>
                <p class="loreParagraph">Pues quieras o no has llegado en medio de ese cambio.<br>Lo que hagas —o ignores— formará parte de lo que este mundo llegue a ser.</p>
                <p class="loreParagraph loreFinal">Bienvenido a Evimeria… Intenta no perderte en su grandeza</p>
            </div>
        </div>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                <%- lang('welcome.continueButton') %>
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>

